<body onload="mostrarPopup()">
    <header>
        <div class="container-grid posicionamento-header">
            <a href=""><img id="logo" width="200" height="80px" src="../../../assets/img/logo.jpeg" alt="Imagem de Logo"></a>            
            <h1><u>Game Mania</u></h1>
            <nav id="menu" class="menu">
                <a href="">Vídeos</a>
                <a href="">Artigos</a>
                <a href="../login">Login</a>
            </nav>
            <a href="" id="barras" ><img class="barras" src="../../../assets/img/menu_barra.PNG" alt="Menu de Barras"></a>
        </div>
    </header>
    <div class="banner">
        <div class="container">
            <div class="row box1">
                <div class="col-3">
                    <div class="fila-1">
                        <div id="carrossel" class="carrossel">
                        <a href="">
                            <img class="item" id="promocao" src="../../../assets/img/promocoes.png" alt="Imagem de Promoção">
                            <img class="item" id="promocao" src="../../../assets/img/hp_Promocao.PNG" alt="Imagem de Promoção HP">
                            <img class="item" id="promocao" src="../../../assets/img/dell_Promocao.PNG" alt="Imagem de Promoção DELL">
                        </a>
                        </div>
                        <a href=""><img class="item" src="../../../assets/img/melhorescelulares.jpg" alt="Imagem de Celulares"></a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="fila-2">
                        <a href=""><img class="item" src="../../../assets/img/BANNER2-HOMEINTERNA-GAMES-4.webp" alt="Imagem de Acessórios"></a>
                        <a href=""><img class="item" src="../../../assets/img/historia-e-evolucao-dos-computadores-og.jpg" alt="Imagem de Computadores"></a>
                        <a href=""><img class="item" src="../../../assets/img/jogos-online-para-pc-og.jpg" alt="Imagem de Jogos"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <p>CONTATOS:<br>
        Telefone: (11)99999-9999<br>
    E-mail: gamemania@internet.com</p>
    </footer>
    <script>
        // let menu = document.getElementById("menu");

        // function mostrarMenu(){
        //     if(menu.style.display != "flex"){
        //         menu.style.display = "flex"
        //     }else{
        //         menu.style.display = "none"
        //     }
        // }
    </script>
    <script src="../../js/jquery-3.6.0.js"></script>
    <script src="../../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>