<body>
    <section class="telaFundo">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="telaLogin">
                        <h2>Área de Usuário</h2>
                            <div class="informacoes">
                                
                                <div class="emailField ">
                                <label for="email-usuario"><b><u>Email:</u></b></label>
                                <input type="email" id="email-usuario" maxlength="40" required autocomplete>
                                </div>
                                <div class="passwordField">
                                <label for="password-usuario"><b><u>Senha:</u></b></label>
                                <input type="password" id="password-usuario">
                                </div>
                                <div class="enviar">
                                <input type="submit" id="btn-enviar" name="btn-enviar" required>
                                </div>
                                
                            </div>
                            <div class="esqueceu">
                                <a href="" id="esqueceuSenha" ><u>Esqueceu a senha?</u></a>
                            </div>
                            <div class="registrar">
                                <a href="../registro/">Caso não tenha uma conta, REGISTRE-SE!</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>